<!DOCTYPE html>
<html lang="lv-LV">

<head>
    <title>Start(it)</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="icon" href="../images\Start(IT)SmallLogo.png">
    <meta charset="utf8">
</head>

<body>
<div class="row max_heigh">           
  <div class="col-md-6 max_heigh">
    <div class="blue_field">
        <h1 class="mb-3">Esi sveicināts ĶLUS</h1>
        <div class="line"></div>
        <p class="mb-5">Tavas laboraorijas uzskaites sistēma</p>
    </div>
    <img class="KLUSlogo" src="../images\KLUSlogo.png">
  </div>
  <div class="col-md-6 max_heigh">
  	
  	<a class="atpakal" href="../index.html">
		<svg width="1em" height="1em" viewBox="0 0 11 11" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
		  <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
		</svg>
  	    Atpakaļ uz sākumu</a>
    <h1 class="pieslegties">Pieslēgties</h1>
    <p class="teksts_pirma_lapa">Ķīmijas laboratorijas uzskaites sistēmai</p>

    	<form class="pieslegsanas_forma">
          <div class="form-group">
             <label>Lietotājvārds</label>
             <input type="text" class="form-control" placeholder="Ievadīt lietotājvārdu">
          </div>
          <div class="form-group">
             <label>Parole</label>
             <input type="password" class="form-control" placeholder="Ievadīt paroli">
          </div>
          <button type="button" class="btn btn-primary btn-lg" onclick="location.href='izvelne.html'">Pieslēgties</button>
       	</form>
       	<div class="linia2"></div>

       	<p>Neesi vēl reģistrēts?<a href=""> Izveidot profilu</a></p> 


        <button id="klume_btn" type="button" class="btn">
            Ziņot par kļūmi
        </button>


  </div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="../javaScript/custom.js"></script>

</html>